# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.db
*.sqlite3
venv/
.venv/
env/
dist-packages/

# Node
node_modules/
frontend/dist/
frontend/.env.local
.npm/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
